$('#<%= to %>').highcharts({
  chart : {
    height: 900
  },

  title : {
    text : null
  },

  xAxis : {
    type : 'datetime',
    title : {
      text : 'Views'
    },
    categories: [
      <% day = @start_day %>
      <% while day <= @end_day %>
        '<%= day.strftime('%b %Y') %>',
        <% day += 1.month %>
      <% end %>
    ]
  },

  yAxis : {
    title : {
      text : 'Views'
    }
  },

  rangeSelector: {
    selected : 3
  },

  navigator : {
    enabled : false
  },

  plotOptions : {
    column : {
      stacking : 'normal'
    }
  },

  series : [
    <% chart_data.each do |name, data| %>
      {
        name : '<%= name %>',
        data : <%= data %>,
        type : 'column',
        stack: 1
      },
    <% end %>
  ],

  tooltip: {
    formatter: function() {
      var s = '<b>'+ this.x +'</b>';
      var points = _.sortBy(this.points, function(point) { return point.y; }).reverse();

      $.each(points, function(i, point) {
          s += '<br/><span style=\"color:' + point.series.color + ';font-weight:bold\">'+ point.series.name +'</span>: '+
              Highcharts.numberFormat(point.y, 0) +' - '+ Highcharts.numberFormat(point.percentage, 2) + '%';
      });

      return s;
    },
    shared: true
  }

});
